@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: #ffffff;
    --bg-color-secondary: #f8f9fb;
    --foreground: #0a0a0a;
    --card: #e4e9f1bb;
    --card-foreground: #0a0a0a;
    --primary: #1c263d;
    --primary-hover: #1d3979;
    --primary-foreground: #ffffff;
    --secondary: #3c4652;
    --secondary-foreground: #191919;
    --muted: #dde2ed;
    --muted-foreground: #767676;
    --accent: #187ff5;
    --accent-foreground: #ffffff;
    --destructive: #e07f59;
    --destructive-foreground: #ffffff;
    --ring: #1d252d;
    --radius: 0.75rem;
    --success: #00a86b;
    --error: #e63947de;
    --skeleton: #dde2ed;
    --input-border: #e4e9f1;
    --input-bg: #e4e9f1;
    --input-text: #1d252d;
    --logo-a: #1d3979;
    --logo-b: #187ff5;
  }

  .dark {
    --bg-color: #101b23;
    --bg-color-secondary: #1b3141;
    --foreground: #f8ffff;
    --card: #101b23bb;
    --card-foreground: #ffffff;
    --primary: #b58b3f;
    --primary-hover: #f5a518;
    --primary-foreground: #ffffff;
    --secondary: #3c4652;
    --secondary-foreground: #ffffff;
    --muted: #243446;
    --muted-foreground: #cccccc;
    --accent: #187ff5;
    --accent-foreground: #ffffff;
    --destructive: #e07f59;
    --destructive-foreground: #ffffff;
    --ring: #b58b3f;
    --radius: 0.75rem;
    --success: #37c490de;
    --error: #e63947de;
    --skeleton: #3c4652;
    --input-border: #243446;
    --input-bg: #243446;
    --input-text: #f8ffff;
    --logo-a: #b58b3f;
    --logo-b: #ffffff;
  }

  * {
    font-family: "Roboto", serif;
    font-style: normal;
  }

  body {
    @apply bg-gradient-background min-h-screen text-foreground;
  }
}

@layer utilities {
  .main-logo {
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #d98673;
    @apply bg-logo-background;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.audio-card {
  @apply relative overflow-hidden rounded-lg transition-all duration-300 hover:scale-[1.02] hover:shadow-lg;
}

.glass-effect {
  @apply bg-white/80 backdrop-blur-md dark:bg-black/80;
}

.page-transition {
  @apply animate-in fade-in slide-in-from-bottom-4 duration-500;
}
